@model Bus_Pass_Mgt_Asp.Models.PasswordChange
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container d-xl-flex align-items-xl-end" style="margin-top: 20px;">
    <h4 class="text-warning flex-fill"><i class="fa fa-gear" style="margin-right: 22px;"></i>Settings</h4>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="text-warning mb-0">Change Password</h5>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="PasswordChange">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input name="UID" value="@ViewBag.UID" type="hidden" />
                        <div class="form-group">
                            <label asp-for="OldPassword" class="control-label"></label>
                            <input asp-for="OldPassword" class="form-control"  type="password"/>
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" class="form-control"  type="password"/>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RePassword" class="control-label"></label>
                            <input asp-for="RePassword" class="form-control" type="password" />
                            <span asp-validation-for="RePassword" class="text-danger"></span>
                        </div>
                        @if (!string.IsNullOrEmpty(ViewBag.Error))
                        {
                            <div role="alert" class="alert alert-danger"><span><strong>Error : </strong> @ViewBag.Error</span></div>
                        }
                        @if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <div role="alert" class="alert alert-success"><span><strong>Seccess : </strong> @ViewBag.Message</span></div>
                        }

                        <div class="form-group text-right">
                            <button class="btn btn-success" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>