@{
    ViewData["Title"] = "Home Page";
    
}
<link href="~/css/Hero-Technology.css" rel="stylesheet" />
<div class="jumbotron hero-technology">
    <h1 class="hero-title">School Bus MGT</h1>
    <p class="hero-subtitle">Authorize portal to Track Buses.</p>
    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="@Url.Action("Login","Users")">Login Now</a></p>
</div>

<div class="features-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Features </h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
        </div>
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Track Bus Everywhere</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-user icon"></i>
                    <h3 class="name">Students</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fas fa-shuttle-van icon"></i>
                    <h3 class="name">Buses</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                </div>
            </div>
        </div>
    </div>
</div>
